langchain-cohere==0.4.4
langgraph==0.2.20
pinecone==6.0.2 
python-dotenv==1.0.0
requests==2.31.0
supabase==2.15.0
typing-extensions==4.13.2
email-validator==2.2.0 
resend==2.7.0
google-api-python-client==2.149.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1